<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Practicas Digital House</title>
</head>

<body>
    <h1><strong>soy un titulo del documento</strong></h1>
    <h2>soy un subtitulo</h2>
    <p class="parrafo1">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Deleniti voluptatum assumenda commodi cumque amet consequuntur cupiditate laborum ratione
        similique ducimus aspernatur dignissimos minima, et praesentium porro dolorem earum fugiat impedit.</p>

    <p class="parrafo2"><em>Lorem ipsum</em>dolor sit amet consectetur adipisicing elit. Placeat nam illo voluptas sed, odio amet maxime
        aspernatur.
        Aliquid, similique.
        Similique quam ratione, sunt molestias repellendus doloremque obcaecati consequuntur illum culpa.</p>

    <img src="/img/descarga (3).jpg" alt="imagen-homero">

    <ol>
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Item 4</a></li>
    </ol>

    <ul>
        <li><a href="#">Item 5</a></li>
        <li><a href="#">Item 6</a></li>
        <li><a href="#">Item 7</a></li>
        <li><a href="#">Item 8</a></li>
    </ul>


</body>

</html>