@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Open+Sans:ital@1&family=Trispace:wght@500&display=swap');

:root {
    --titulo-principal: 'Trispace', sans-serif;
    --titulo-parrafo: 'Open Sans', sans-serif;
    --titulo-subtitulo: 'League Gothic', sans-serif;
}

/*
font-family: 'League Gothic', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Trispace', sans-serif;
*/

body{
    font-family: var(--titulo-principal)
}

.caja-madre {
    background: chocolate;
    width: 80%;
    padding: 20px;
    border: solid 5px black;
    box-sizing: border-box;
}